<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Flexbox atributos
		link(rel="stylesheet", href="css/main.css")
	body
		h1 Propiedades de Flex
	
		-var listDirection = ["row", "row-reverse", "column","column-reverse"]
		-var listWrap = ["nowrap","wrap","wrap-reverse"]
		-var listContent = ["flex-start","flex-end","center","space-between","space-around","space-everly"]
		-var listAlign = ["flex-start","flex-end","center","stretch","baseline"]
		-var boxs = [1,2,3,4,5,6]
		-var flag = true
		-var flag2 = true
		-var flag3 = true
		-var flag4 = true

		section.flexDemo
			.container
				.flexDemo-item
					.flex__menu
						.flex__menu--titulo
							h2 FLEX-DIRECTION
						each item in listDirection
							.flex__menu--item
								label(for=''+item) #{item}
								if flag
									input(type="radio", id=""+item name="flex-direction" value=""+item checked)
									-flag = false;
								else
									input(type="radio", id=""+item name="flex-direction" value=""+item)
					.flex__vista#vista--flex-direction
						each box in boxs
							.flex__vista-box #{box}

				.flexDemo-item
					.flex__menu
						.flex__menu--titulo
							h2 FLEX-WRAP
						each item in listWrap
							.flex__menu--item
								label(for=''+item) #{item}
								if flag2
									input(type="radio", id=""+item  name="flex-wrap" value=""+item checked)
									-flag2 = false;
								else
									input(type="radio", id=""+item name="flex-wrap" value=""+item)
					.flex__vista
						each box in boxs
							.flex__vista-box #{box}

				.flexDemo-item
					.flex__menu
						.flex__menu--titulo
							h2 FLEX-CONTENT
						each item in listContent
							.flex__menu--item
								label(for=''+item) #{item}
								if flag3
									input(type="radio", name="flex-content" value=""+item checked)
									-flag3 = false;
								else
									input(type="radio", name="flex-content" value=""+item)
					.flex__vista
						each box in boxs
							.flex__vista-box #{box}
				
				.flexDemo-item
					.flex__menu
						.flex__menu--titulo
							h2 FLEX-AlIGN
						each item in listAlign
							.flex__menu--item
								label(for=''+item) #{item}
								if flag4
									input(type="radio", id=""+item  name="flex-align" value=""+item checked)
									-flag4 = false;
								else
									input(type="radio", id=""+item name="flex-align" value=""+item)
					.flex__vista
						each box in boxs
							.flex__vista-box #{box}

		script(src="js/main.js")

		//- section.flexDemo
		//- 	.container
		//- 		.flexDemo-item
		//- 			.flex__menu
		//- 				.flex__menu--titulo
		//- 					h2 FLEX-DIRECTION
		//- 				.flex__menu--item
		//- 					label row
		//- 					input(type="radio", name="flex-wrap", value="row")
		//- 				.flex__menu--item
		//- 					label row-reverse
		//- 					input(type="radio", name="flex-direction", value="row-reverse")
		//- 				.flex__menu--item
		//- 					label column
		//- 					input(type="radio", name="flex-direction", value="column")
		//- 				.flex__menu--item
		//- 					label column-reverse
		//- 					input(type="radio", name="flex-direction", value="column-reverse")
		//- 			.flex__vista
		//- 				.box 1
		//- 				.box 2
		//- 				.box 3
		//- 				.box 4
		//- 				.box 5
		//- 				.box 6

		
		//- each item in list
		//- 	.flex__menu--item
		//- 		label #{item}
		//- 		input(type="radio", name="flex-direction" value="#{item}")
		
		//- .flex__vista
		//- each box in boxs
		//- 	.box #{box}
			


		

//- In the lower right-hand corner of Sublime Text, there should be a label that 
//- says Spaces: N or Tab Size: N where N is a number. Select this and you'll 
//- see options to convert the entire document's indentation to use either tabs 
//- or spaces:

//-     Convert Indentation to Spaces
//-     Convert Indentation to Tabs


	
	  
		

		
			
